sudo: false

language: node_js
node_js:
  - 10

branches:
  only:
    - master

script:
  - npm run lint
  - npm test

deploy:
  provider: heroku
  app: "your-heroku-app-name"
  api_key:
    secure: "your-heroku-api-key"

after_success:
  - cat ./coverage/lcov.info | ./node_modules/codecov.io/bin/codecov.io.js
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
